/* 外部スタイルシートの読み込み */
@import "../stylesheet/jquery.jqplot.css";     /* jqPlot用CSS */
h1 {
	padding: 0px 0px 10px 10px;
	border-bottom: 1px solid gray;
}
div#canvas-frame_graph{
	width : 1280px;              /* 横幅 */
	height : 720px; /* 縦幅 */
	background-color : #FFFFFF; /* 背景色 */
}
.jqplot-table-legend-label {
	font-size: 30px;
	font-family: 'Times New Roman';
	color: #000000;
}
div.jqplot-table-legend-swatch {
	border-top-width: 10px;
	border-bottom-width: 10px;
	border-left-width: 11px;
	border-right-width: 11px;
}
div.jqplot-table-legend-swatch-outline {
	border: 1px solid #cccccc;
	padding:2px;
}